.container {
	text-align: center;
	background: url("../images/concrete_seamless.png");
	max-width: 100%;
}
.header {
	background-color: white;
}
.content {
	max-width: 85%;
}
.footer {
	max-width: 100%;
	background-color: gray;
	text-align: center;
}
.navname {
	font-size: 40px;
	background-color: teal;
	text-align: center;
	color: white;
}
.navlinks {
	background-color: white;
	text-align: right;
}